@use "../Variables/colors";

html {
  font-family: "Red Hat Display", sans-serif;
}

img {
  width: 375px;
  border-radius: 30px 30px 0 0;
}

.container {
  background-color: colors.$first-color;
  width: 375px;
  border-radius: 30px 30px;

  h1 {
    font-weight: 900;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    color: colors.$fourth-color;
  }
}
