@use "../Variables/colors";

html {
  font-family: "Red Hat Display", sans-serif;
}

img {
  width: 375px;
  border-radius: 30px 30px 0 0;
}

.container {
  background-color: colors.$first-color;
  width: 375px;
  border-radius: 30px 30px;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      font-weight: 900;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      color: colors.$fourth-color;
    }

    .icon-plan {
      background-color: colors.$fifth-color;
      font-size: 14px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-image: url(/images/musica.png);
      background-repeat: no-repeat;
      padding-left: 35px;
      background-size: 30px;
      background-position-y: center;
      background-position-x: 18px;
      padding: 20px;
      width: 300px;
      margin-left: 35px;
      border-radius: 10px;

      div {
        padding: 0 0 0 19px;
      }
      .annual-plan__title {
        font-weight: 700;
        font-size: 14px;
        margin: 0;
      }

      .annual-plan__price {
        font-weight: 500;
        color: colors.$fourth-color;
      }
    }
  }
}
